$("#get-started-info h1").html("Thank You");
$("#get-started-info p").remove();
$("#info-request-form").html("<p>Thank you for your interest in Academic Dashboards. We will contact you soon to get you started on our platform.</p>");