<section id="about">
	<div class="container">
		<h1>About Us</h1>
		<p>We are professors, administrators and researchers from the University of New Mexico's Innovation Academcy.
		We have worked to create analytic tools and visualization dashboards that allow decision-makers at all levels to act decisively and effectively.
		</p>
	  <p>Feel free to contact us at information@AcademicDashboards.org</p>
	</div>
</section>

<script>
	$(document).ready(function() {
		$('footer').css({bottom: 0, position:'absolute'});
	})
</script>
