<section id="carousel">
	<div id="carousel-content" class="container">
		<h1>Some Heading</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus velit. Vivamus blandit libero at nibh consequat commodo. Quisque rutrum diam tortor, vel suscipit augue pulvinar in. Sed convallis lacus sapien, quis sodales libero accumsan a. Mauris dictum tellus ut diam elementum porttitor.</p>
		<%= link_to 'Get Started' %>
	</div>
</section>


<section id="some-info" class="container">
	<div class="column-4 info">
		<div class="circle"></div>
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus velit. Vivamus blandit libero at nibh consequat commodo.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"></div>
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus velit. Vivamus blandit libero at nibh consequat commodo.</p>
	</div>

	<div class="column-4 info">
		<div class="circle"></div>
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nec purus velit. Vivamus blandit libero at nibh consequat commodo.</p>
	</div>
</section>


