<section id="services">
	<h1>Our Services</h1>
	<!-- <p>Blurb</p> -->

	<div class="container">
		<%= image_tag "services.jpg", width: "100%" %>
	</div>

	<div class="container">
		<div id="data-mart" class="column-6">
			<h2>DataMart Design</h2>
			<p>Data warehouses provide a convenient way to aggregate all of the data from your university in one place. These cloud-based data warehouses are scalable, secure, and FERPA compliant. Cloud hosting also eliminates headaches and overhead associated with IT. The data warehouses provide a convenient one-stop access to point to your data for reporting and analysis, and also tie seamlessly with other services we provide such as sankey diagrams and dashboards.</p>
		</div>
		<div id="custom-dashboards" class="column-6">
			<h2>Custom Dashboards</h2>
			<p>Data can be vast and complex. Often times, common dashboard structures are unsuited to convey the necessary information. We are constantly creating new more sophisticated data visualizations that reveal facts in a more intuitive and explorative way. This paired with our powerful dashboard framework, allow us to customize a dashboard to fit your specific needs.</p>
		</div>
	</div>
</section>
